{#
/**
 * @file
 * umdds-social-icons-muskweb template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
  href="{{ url }}" aria-label="X (formerly Twitter)">
  <span class="sr-only">X (formerly Twitter)</span>
  <svg title="x icon" id="icon_x" aria-hidden="true" width="17" height="17" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 17.17"><path d="m14.96,0h2.91l-6.37,7.27,7.49,9.9h-5.86l-4.59-6-5.25,6H.37l6.81-7.78L0,0h6.01l4.15,5.49L14.96,0h0Zm-1.02,15.43h1.61L5.13,1.65h-1.73l10.54,13.78Z" fill="white"></path>
  </svg>
</a>
