{#
/**
 * @file
 * umdds-social-icons-facebook template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Facebook">
  <span class="sr-only">Facebook</span>
  <svg title="facebook icon" id="icon_facebook" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.6879 10.4618H8.24862V16.8548C8.24862 16.981 8.35141 17.0833 8.47827 17.0833H11.1245C11.2514 17.0833 11.3542 16.981 11.3542 16.8548V10.4919H13.1484C13.265 10.4919 13.3632 10.4048 13.3765 10.2895L13.649 7.93592C13.6565 7.87117 13.6359 7.80632 13.5923 7.75774C13.5487 7.70912 13.4864 7.68129 13.4209 7.68129H11.3543V6.20594C11.3543 5.7612 11.5949 5.53568 12.0697 5.53568C12.1373 5.53568 13.4209 5.53568 13.4209 5.53568C13.5478 5.53568 13.6506 5.43336 13.6506 5.30718V3.14681C13.6506 3.02059 13.5478 2.91832 13.4209 2.91832H11.5587C11.5456 2.91768 11.5164 2.91663 11.4734 2.91663C11.1503 2.91663 10.0272 2.97974 9.14002 3.79181C8.15704 4.69171 8.32634 5.76656 8.32634 5.95602V7.68124H6.6879C6.56104 7.68124 6.45825 7.78352 6.45825 7.90974V10.2333C6.45825 10.3595 6.56104 10.4618 6.6879 10.4618Z" fill="white">
    </path>
  </svg>
</a>
