{#
/**
 * @file
 * umdds-social-icons-wordpress template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Wordpress">
  <span class="sr-only">Wordpress</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M16 6.45543C17.2889 6.45543 18.5387 6.70765 19.7152 7.2054C20.2805 7.44452 20.8261 7.74061 21.3363 8.08544C21.842 8.42692 22.3172 8.81927 22.7495 9.25122C23.1814 9.68316 23.5738 10.1587 23.9152 10.6643C24.2601 11.1746 24.5559 11.7198 24.7953 12.2855C25.2927 13.462 25.5453 14.7118 25.5453 16.0006C25.5453 17.2895 25.293 18.5393 24.7953 19.7158C24.5562 20.2811 24.2601 20.8267 23.9152 21.3369C23.5738 21.8426 23.1814 22.3178 22.7495 22.7501C22.3175 23.182 21.842 23.5744 21.3363 23.9158C20.8261 24.2607 20.2808 24.5565 19.7152 24.7959C18.5387 25.2933 17.2889 25.5459 16 25.5459C14.7112 25.5459 13.4613 25.2936 12.2849 24.7959C11.7195 24.5568 11.174 24.2607 10.6637 23.9158C10.1581 23.5744 9.68286 23.182 9.25061 22.7501C8.81866 22.3181 8.42631 21.8426 8.08483 21.3369C7.74 20.8267 7.44422 20.2814 7.20479 19.7158C6.70735 18.5393 6.45482 17.2895 6.45482 16.0006C6.45482 14.7118 6.70705 13.462 7.20479 12.2855C7.44392 11.7201 7.74 11.1746 8.08483 10.6643C8.42631 10.1587 8.81866 9.68347 9.25061 9.25122C9.68256 8.81927 10.1581 8.42692 10.6637 8.08544C11.174 7.74061 11.7192 7.44483 12.2849 7.2054C13.4613 6.70796 14.7112 6.45543 16 6.45543ZM16 5.84619C10.3923 5.84619 5.84619 10.3923 5.84619 16C5.84619 21.6078 10.3923 26.1539 16 26.1539C21.6078 26.1539 26.1539 21.6078 26.1539 16C26.1539 10.3923 21.6078 5.84619 16 5.84619Z"
      fill="white"
    />
    <path
      d="M7.53833 15.9998C7.53833 19.3491 9.48454 22.2435 12.3074 23.6149L8.27094 12.5564C7.80152 13.6085 7.53833 14.7731 7.53833 15.9998ZM21.7122 15.573C21.7122 14.5269 21.3366 13.8029 21.0147 13.2393C20.5857 12.5421 20.1833 11.952 20.1833 11.2547C20.1833 10.477 20.7731 9.75297 21.6044 9.75297C21.6419 9.75297 21.6775 9.75754 21.7141 9.75967C20.2086 8.38036 18.2027 7.53809 16 7.53809C13.0437 7.53809 10.4432 9.05508 8.93013 11.3519C9.12874 11.3583 9.31608 11.3623 9.47479 11.3623C10.3597 11.3623 11.7299 11.2547 11.7299 11.2547C12.1859 11.2279 12.2398 11.8981 11.7841 11.952C11.7841 11.952 11.3257 12.0056 10.8157 12.0324L13.8969 21.1978L15.749 15.6443L14.4309 12.0324C13.9749 12.0056 13.5436 11.952 13.5436 11.952C13.0876 11.9252 13.1409 11.2279 13.5972 11.2547C13.5972 11.2547 14.9942 11.3623 15.8258 11.3623C16.7107 11.3623 18.0812 11.2547 18.0812 11.2547C18.5372 11.2279 18.5911 11.8981 18.1351 11.952C18.1351 11.952 17.676 12.0056 17.1667 12.0324L20.2248 21.128L21.0978 18.3621C21.4856 17.1534 21.7128 16.2968 21.7128 15.5727L21.7122 15.573ZM16.1487 16.74L13.6094 24.1169C14.3676 24.3399 15.1693 24.4618 16 24.4618C16.9855 24.4618 17.9307 24.2918 18.8101 23.982C18.7876 23.9457 18.7666 23.9074 18.7495 23.8653L16.1487 16.74ZM23.4254 11.9404C23.4616 12.21 23.4824 12.4991 23.4824 12.8104C23.4824 13.6688 23.3215 14.6339 22.8387 15.8411L20.2543 23.3134C22.7699 21.8466 24.4617 19.1215 24.4617 15.9998C24.4617 14.5288 24.0858 13.1455 23.4254 11.9404Z"
      fill="white"
    />
  </svg>
</a>
