{#
/**
 * @file
 * umdds-social-icons-pinterest template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Pinterest">
  <span class="sr-only">Pinterest</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      id="white"
      d="M15.9976 26.1539C21.6041 26.1539 26.149 21.609 26.149 16.0025C26.149 10.396 21.6041 5.85107 15.9976 5.85107C10.3911 5.85107 5.84619 10.396 5.84619 16.0025C5.84619 21.609 10.3911 26.1539 15.9976 26.1539Z"
      fill="black"
    />
    <path
      d="M12.229 25.4258C12.1023 24.271 12.1908 23.1673 12.4446 22.1014L13.4597 17.7237C13.2949 17.191 13.1678 16.5815 13.1678 15.9724C13.1678 14.5512 13.8532 13.5361 14.9317 13.5361C15.6805 13.5361 16.2262 14.0562 16.2262 15.0588C16.2262 15.3759 16.1629 15.7312 16.0358 16.1373L15.5915 17.5967C15.5026 17.876 15.4649 18.1424 15.4649 18.3706C15.4649 19.3857 16.2388 19.9567 17.2288 19.9567C18.9927 19.9567 20.249 18.1294 20.249 15.7564C20.249 13.117 18.5233 11.4295 15.9728 11.4295C13.1304 11.4295 11.3288 13.2823 11.3288 15.8579C11.3288 16.8982 11.6459 17.8626 12.268 18.5225C12.0649 18.8652 11.8493 18.9285 11.5192 18.9285C10.5041 18.9285 9.53968 17.4947 9.53968 15.5404C9.53968 12.1648 12.2424 9.47512 16.0366 9.47512C20.0208 9.47512 22.5209 12.2542 22.5209 15.6801C22.5209 19.106 20.0846 21.7202 17.4578 21.7202C16.4171 21.7202 15.5034 21.2759 14.8692 20.4764L14.349 22.583C14.0696 23.6741 13.651 24.7022 12.9786 25.6918C13.9304 25.9837 14.8692 26.1486 15.9988 26.1486C21.6073 26.1486 26.1502 21.6056 26.1502 15.9972C26.1502 10.3887 21.6065 5.84619 15.9976 5.84619C10.3887 5.84619 5.84619 10.3892 5.84619 15.9976C5.84619 20.2486 8.46038 23.9157 12.229 25.4258Z"
      fill="white"
    />
  </svg>
</a>
