{#
/**
 * @file
 * umdds-social-icons template
 *
 * Variables:
 *   - icons
 *   - block_heading
 */
#}
{{ attach_library('umdds_social_icons/base') }}
<div class="s-stack-large" aria-labelledby="block-heading-id">
  <p id="block-heading-id" class="t-title-small c-content-dark-primary s-stack-medium">
     {{ block_heading }} 
  </p>
  <ul class="social-media-list s-box-medium-h" aria-label="Social media links">
    {% for icon in icons %}
      <li class="s-stack-small">
        {{ icon }}
      </li>
    {% endfor %}
  </ul>
</div>
