{#
/**
 * @file
 * umdds-social-icons-mastodon template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Mastodon">
  <span class="sr-only">Mastodon</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="21"
    viewBox="0 0 20 21"
    fill="none"
  >
    <path
      d="M19.4072 5.32721C19.1142 3.17285 17.216 1.47507 14.9659 1.14609C14.5862 1.0905 13.1479 0.888184 9.81597 0.888184H9.79108C6.45826 0.888184 5.74322 1.0905 5.36359 1.14609C3.1761 1.46596 1.17843 2.9915 0.693751 5.17135C0.460628 6.24489 0.435749 7.43507 0.479057 8.52683C0.540793 10.0925 0.552772 11.6554 0.696516 13.2146C0.79589 14.2504 0.969245 15.2779 1.21528 16.2894C1.676 18.1576 3.54099 19.7123 5.3682 20.3466C7.32449 21.0081 9.42832 21.1178 11.4442 20.6637C11.6659 20.6127 11.8852 20.5535 12.102 20.486C12.5913 20.332 13.1654 20.1598 13.5874 19.8572C13.5932 19.853 13.598 19.8475 13.6013 19.8412C13.6046 19.8349 13.6065 19.8279 13.6067 19.8208V18.3098C13.6066 18.3032 13.605 18.2966 13.6021 18.2906C13.5991 18.2847 13.5948 18.2794 13.5894 18.2753C13.5841 18.2712 13.578 18.2683 13.5714 18.2669C13.5648 18.2654 13.558 18.2655 13.5515 18.267C12.26 18.5721 10.9365 18.725 9.60865 18.7226C7.32349 18.7226 6.70889 17.65 6.53288 17.2035C6.39142 16.8175 6.30158 16.415 6.26567 16.006C6.26531 15.9991 6.26659 15.9923 6.26939 15.986C6.2722 15.9797 6.27649 15.9741 6.28186 15.9698C6.28726 15.9655 6.29361 15.9624 6.3004 15.961C6.30718 15.9595 6.31423 15.9596 6.32096 15.9613C7.59096 16.2644 8.89284 16.4173 10.1993 16.417C10.5135 16.417 10.8268 16.417 11.141 16.4088C12.455 16.3724 13.8399 16.3058 15.1326 16.0561C15.1649 16.0497 15.1971 16.0443 15.2248 16.0361C17.2639 15.6488 19.2045 14.4331 19.4017 11.3546C19.409 11.2334 19.4275 10.0852 19.4275 9.95942C19.4284 9.53201 19.5666 6.92748 19.4072 5.32721ZM16.2688 13.0087H14.1246V7.81418C14.1246 6.7206 13.6639 6.16288 12.7268 6.16288C11.6966 6.16288 11.1806 6.82268 11.1806 8.12584V10.9691H9.04934V8.12584C9.04934 6.82268 8.53242 6.16288 7.50225 6.16288C6.57067 6.16288 6.10534 6.7206 6.10441 7.81418V13.0087H3.96208V7.65653C3.96208 6.56294 4.24436 5.69416 4.80889 5.05015C5.39123 4.40768 6.1551 4.0778 7.10327 4.0778C8.20068 4.0778 9.02998 4.49516 9.58284 5.32903L10.1164 6.21483L10.6508 5.32903C11.2036 4.49516 12.0329 4.0778 13.1285 4.0778C14.0758 4.0778 14.8396 4.40768 15.4238 5.05015C15.9884 5.69354 16.2706 6.56233 16.2706 7.65653L16.2688 13.0087Z"
      fill="white"
      />
    </svg>
</a>
