{#
/**
 * @file
 * umdds-social-icons-bluesky template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Bluesky">
  <span class="sr-only">Bluesky</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="22"
    height="18"
    viewBox="0 0 22 18"
    fill="none"
  >
    <path
      d="M5.24813 1.21897C7.57637 2.96689 10.0805 6.51098 11 8.41279C11.9196 6.51102 14.4237 2.96689 16.7519 1.21893C18.4319 -0.0422194 21.1539 -1.0181 21.1539 2.08716C21.1539 2.70733 20.7983 7.29683 20.5898 8.04199C19.8649 10.6324 17.2234 11.2931 14.8738 10.8932C18.9809 11.5922 20.0257 13.9076 17.7693 16.2229C13.4839 20.6202 11.61 15.1196 11.1299 13.7102C11.0418 13.4518 11.0006 13.3309 11 13.4337C10.9994 13.3309 10.9582 13.4518 10.8702 13.7102C10.3901 15.1196 8.51617 20.6202 4.23082 16.2229C1.97441 13.9076 3.01915 11.5922 7.12631 10.8932C4.77662 11.2931 2.13519 10.6324 1.4103 8.04196C1.20175 7.29679 0.846191 2.70726 0.846191 2.08712C0.846191 -1.0181 3.56824 -0.0422551 5.24813 1.21897Z"
      fill="white"
    />
  </svg>
</a>
