{#
/**
 * @file
 * umdds-social-icons-youtube template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
  href="{{ url }}" aria-label="YouTube">
  <span class="sr-only">YouTube</span>
  <svg title="youtube icon" id="icon_youtube" aria-hidden="true" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.3855 2.87786C17.1839 2.12192 16.5918 1.52786 15.8384 1.32551C14.4727 0.958374 9 0.958374 9 0.958374C9 0.958374 3.52729 0.958374 2.16307 1.32551C1.40966 1.52786 0.817583 2.12192 0.615904 2.87786C0.25 4.24666 0.25 7.10421 0.25 7.10421C0.25 7.10421 0.25 9.96176 0.615904 11.3306C0.817583 12.0865 1.40966 12.6806 2.16307 12.8829C3.52729 13.25 9 13.25 9 13.25C9 13.25 14.4727 13.25 15.8369 12.8829C16.5903 12.6806 17.1824 12.0865 17.3841 11.3306C17.75 9.96176 17.75 7.10421 17.75 7.10421C17.75 7.10421 17.75 4.24666 17.3841 2.87786H17.3855ZM7.24971 9.73772V4.47069L11.7961 7.10421L7.24971 9.73772Z" fill="white">
    </path>
  </svg>
</a>
