{#
/**
 * @file
 * umdds-social-icons-facebook template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Facebook">
  <span class="sr-only">Facebook</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M26.1539 16C26.1539 10.3923 21.6078 5.84619 16 5.84619C10.3923 5.84619 5.84619 10.3923 5.84619 16C5.84619 20.7618 9.12467 24.7575 13.5473 25.855V19.1031H11.4536V16H13.5473V14.663C13.5473 11.207 15.1114 9.60515 18.5044 9.60515C19.1477 9.60515 20.2577 9.73146 20.7118 9.85737V12.67C20.4722 12.6448 20.0559 12.6322 19.5389 12.6322C17.874 12.6322 17.2307 13.263 17.2307 14.9026V16H20.5473L19.9775 19.1031H17.2307V26.0796C22.2585 25.4724 26.1543 21.1915 26.1543 16H26.1539Z"
      fill="white"
    />
    <path
      id="white"
      d="M19.9771 19.1031L20.5469 16.0001H17.2303V14.9027C17.2303 13.263 17.8736 12.6323 19.5384 12.6323C20.0555 12.6323 20.4718 12.6449 20.7114 12.6701V9.85745C20.2573 9.73113 19.1473 9.60522 18.504 9.60522C15.1109 9.60522 13.5468 11.2071 13.5468 14.6631V16.0001H11.4531V19.1031H13.5468V25.855C14.3323 26.05 15.154 26.154 15.9996 26.154C16.4159 26.154 16.8265 26.1284 17.2299 26.0796V19.1031H19.9767H19.9771Z"
      fill="black"
    />
  </svg>
</a>
