{#
/**
 * @file
 * umdds-social-icons-tumblr template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
    href="{{ url }}"
    aria-label="Tumblr">
  <span class="sr-only">Tumblr</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M18.14 25.2308C15.3586 25.2308 13.2957 23.8054 13.2957 20.3866V14.9165H10.7693V11.9497C13.5507 11.2311 14.7096 8.84375 14.8371 6.76929H17.7228V11.4629H21.0836V14.9049H17.7228V19.668C17.7228 21.0935 18.4413 21.5918 19.5886 21.5918H21.2227V25.2192H18.14V25.2308Z"
      fill="white"
    />
  </svg>
</a>
