{#
/**
 * @file
 * umdds-social-icons-youtube template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
  href="{{ url }}" aria-label="YouTube">
  <span class="sr-only">YouTube</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M25.7293 11.0954C25.4962 10.2162 24.8073 9.52388 23.9339 9.2885C22.3508 8.86157 16 8.86157 16 8.86157C16 8.86157 9.64927 8.86157 8.06619 9.2885C7.19273 9.52388 6.50388 10.2162 6.27081 11.0954C5.84619 12.69 5.84619 16.0154 5.84619 16.0154C5.84619 16.0154 5.84619 19.3408 6.27081 20.9354C6.50388 21.8146 7.19273 22.507 8.06619 22.7423C9.65042 23.1693 16 23.1693 16 23.1693C16 23.1693 22.3508 23.1693 23.9339 22.7423C24.8073 22.507 25.4962 21.8146 25.7293 20.9354C26.1539 19.342 26.1539 16.0154 26.1539 16.0154C26.1539 16.0154 26.1539 12.69 25.7293 11.0954Z"
      fill="white"
    />
    <path
      id="white"
      d="M13.9231 19.0351L19.2308 16.0155L13.9231 12.9958V19.0351Z"
      fill="black"
    />
  </svg>
</a>
