{#
/**
 * @file
 * umdds-social-icons-instagram template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
  href="{{ url }}" aria-label="Instagram">
  <span class="sr-only">Instagram</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M11.7946 5.9172C10.7142 5.96818 9.97647 6.14059 9.33149 6.39403C8.66398 6.65417 8.09821 7.00326 7.53528 7.56822C6.97235 8.13318 6.6257 8.69936 6.36738 9.36789C6.1174 10.0143 5.94803 10.7527 5.90031 11.8336C5.85258 12.9146 5.84202 13.2621 5.8473 16.0195C5.85258 18.7768 5.86477 19.1225 5.91716 20.2057C5.96874 21.2859 6.14055 22.0234 6.39399 22.6686C6.65453 23.3361 7.00322 23.9017 7.56838 24.4648C8.13354 25.028 8.69932 25.3738 9.36947 25.6325C10.0153 25.8821 10.7538 26.0523 11.8346 26.0996C12.9154 26.1469 13.2633 26.1579 16.0198 26.1526C18.7764 26.1473 19.1235 26.1351 20.2065 26.0838C21.2895 26.0324 22.0232 25.8594 22.6686 25.6071C23.3361 25.346 23.9021 24.9979 24.4648 24.4325C25.0275 23.8672 25.374 23.3006 25.6321 22.6317C25.8823 21.9859 26.0522 21.2473 26.0991 20.1673C26.1465 19.0835 26.1576 18.7375 26.1524 15.9805C26.1471 13.2235 26.1347 12.8779 26.0833 11.7951C26.0319 10.7123 25.8599 9.97692 25.6067 9.33133C25.3457 8.66382 24.9975 8.09866 24.4325 7.53512C23.8675 6.97158 23.3005 6.62533 22.6318 6.36783C21.9856 6.11784 21.2474 5.94746 20.1667 5.90076C19.0859 5.85405 18.738 5.84207 15.9804 5.84735C13.2229 5.85263 12.8776 5.8644 11.7946 5.9172ZM11.9132 24.2729C10.9232 24.2299 10.3857 24.0654 10.0274 23.9277C9.55305 23.7449 9.21513 23.524 8.85812 23.1704C8.50111 22.8169 8.28179 22.4777 8.09658 22.0043C7.95748 21.6461 7.78994 21.1092 7.74364 20.1192C7.69327 19.0492 7.68271 18.7279 7.67682 16.017C7.67093 13.3062 7.68129 12.9853 7.7282 11.9149C7.77044 10.9257 7.93595 10.3875 8.07343 10.0295C8.2562 9.55452 8.47634 9.2172 8.83071 8.8604C9.18508 8.50359 9.5232 8.28386 9.99698 8.09866C10.3548 7.95894 10.8917 7.79282 11.8813 7.74571C12.9522 7.69494 13.273 7.68479 15.9835 7.6789C18.694 7.67301 19.0156 7.68316 20.0869 7.73028C21.076 7.77333 21.6144 7.93721 21.972 8.07551C22.4466 8.25828 22.7843 8.4778 23.1411 8.83278C23.4979 9.18776 23.7179 9.52466 23.9031 9.99946C24.043 10.3563 24.2091 10.893 24.2558 11.8832C24.3068 12.954 24.3184 13.2751 24.3232 15.9854C24.3281 18.6956 24.3186 19.0175 24.2717 20.0875C24.2284 21.0775 24.0643 21.6153 23.9264 21.9739C23.7437 22.4481 23.5233 22.7862 23.1687 23.1428C22.8142 23.4994 22.4765 23.7191 22.0025 23.9043C21.6451 24.0439 21.1075 24.2104 20.1187 24.2575C19.0479 24.3079 18.7271 24.3184 16.0156 24.3243C13.3041 24.3302 12.9842 24.3192 11.9134 24.2729M20.1908 10.5731C20.1912 10.8142 20.2631 11.0496 20.3973 11.2498C20.5316 11.4499 20.7222 11.6058 20.945 11.6976C21.1678 11.7895 21.4129 11.8132 21.6491 11.7657C21.8854 11.7183 22.1023 11.6018 22.2724 11.4311C22.4426 11.2604 22.5582 11.043 22.6048 10.8066C22.6514 10.5701 22.6268 10.3252 22.5341 10.1027C22.4415 9.88019 22.2849 9.69018 22.0842 9.55668C21.8836 9.42318 21.6479 9.35218 21.4069 9.35266C21.0838 9.3533 20.7742 9.48224 20.5461 9.71112C20.3181 9.93999 20.1903 10.2501 20.1908 10.5731ZM10.7863 16.0101C10.792 18.8898 13.1307 21.2188 16.0097 21.2134C18.8887 21.2079 21.2194 18.8695 21.2139 15.9898C21.2084 13.1102 18.8692 10.7805 15.9898 10.7862C13.1104 10.7919 10.7809 13.1309 10.7863 16.0101ZM12.6152 16.0065C12.6139 15.337 12.8111 14.6823 13.1819 14.1249C13.5528 13.5676 14.0805 13.1327 14.6985 12.8753C15.3164 12.6179 15.9968 12.5495 16.6537 12.6788C17.3105 12.8081 17.9142 13.1293 18.3885 13.6017C18.8628 14.0741 19.1864 14.6766 19.3183 15.3329C19.4502 15.9892 19.3845 16.6699 19.1295 17.2888C18.8746 17.9078 18.4418 18.4373 17.8859 18.8103C17.3301 19.1833 16.6761 19.3831 16.0066 19.3845C15.5621 19.3854 15.1218 19.2987 14.7108 19.1295C14.2998 18.9602 13.9261 18.7116 13.6112 18.398C13.2963 18.0843 13.0462 17.7116 12.8753 17.3013C12.7045 16.891 12.6161 16.451 12.6152 16.0065Z"
      fill="white"
    />
  </svg>
</a>
