{#
/**
 * @file
 * umdds-social-icons-muskweb template
 *
 * Variables:
 *   - url
 */
#}
<a class="social-media-list-item c-bg-interactive-dark-primary ani-bg-interactive ani-icon-interactive"
  href="{{ url }}" aria-label="X (formerly Twitter)">
  <span class="sr-only">X (formerly Twitter)</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <path
      d="M17.7195 14.5825L24.4536 6.76929H22.8578L17.0106 13.5534L12.3404 6.76929H6.95386L14.0161 17.028L6.95386 25.2214H8.54973L14.7246 18.0571L19.6567 25.2214H25.0432L17.7191 14.5825H17.7195ZM15.5337 17.1184L14.8181 16.0969L9.12474 7.96838H11.5759L16.1706 14.5283L16.8861 15.5499L22.8586 24.0768H20.4074L15.5337 17.1188V17.1184Z"
      fill="white"
    />
  </svg>
</a>
